In [12]:
import pandas as pd
import numpy as np

In [13]:
pairs = pd.read_csv('ortho_pairs.txt', header=0, sep='\t')
hg19_genes = pd.read_csv('hg38_chr1_geneModels.bed', header=None, sep='\t')
mm10_genes = pd.read_csv('mm10_chr4_geneModels.bed', header=None, sep='\t')

In [14]:
pairs

                          hg19                          mm10
0    transcript_id=NM_000066.4     transcript_id=NM_133882.2
1    transcript_id=NM_000081.4     transcript_id=NM_010945.2
2    transcript_id=NM_000098.3     transcript_id=NM_009949.2
3    transcript_id=NM_000147.5     transcript_id=NM_024243.4
4    transcript_id=NM_000191.3     transcript_id=NM_008254.2
..                         ...                           ...
856  transcript_id=NM_207356.3     transcript_id=NM_175287.4
857  transcript_id=NM_207370.4     transcript_id=NM_178406.2
858  transcript_id=NM_207396.3  transcript_id=NM_001033489.2
859  transcript_id=NM_207420.3  transcript_id=NM_001085529.1
860  transcript_id=NM_213566.2     transcript_id=NM_010044.3

[861 rows x 2 columns]

In [15]:
hg19_genes = hg19_genes.loc[hg19_genes[3].isin(pairs['hg19']), :]
mm10_genes = mm10_genes.loc[mm10_genes[3].isin(pairs['mm10']), :]

column_names_hg19 = [j + '_hg19' for j in ['chr', 'start', 'end', 'id', 'score', 'strand']]
column_names_mm10 = [j + '_mm10' for j in ['chr', 'start', 'end', 'id', 'score', 'strand']]

hg19_genes.columns = column_names_hg19
mm10_genes.columns = column_names_mm10

In [16]:
hg19_genes = hg19_genes.sort_values('id_hg19')
pairs = pairs.sort_values('hg19')
pairs.index = hg19_genes.index
hg19_genes['mm10_id'] = pairs.loc[:, 'mm10']
mm10_genes = mm10_genes.sort_values('id_mm10')
hg19_genes = hg19_genes.sort_values('mm10_id')
mm10_genes.index = hg19_genes.index
genes = pd.concat([hg19_genes, mm10_genes], axis = 1)

In [17]:
genes.drop('mm10_id', axis=1, inplace=True)

In [18]:
genes.to_csv('hg19_genes_mm10_ortho.bed', header=None, index=False, sep='\t')